/****************************************
 * Archive Courses Styling
****************************************/
.archive-courses {
  &__container {
    background-color: initial;
  }
}

/****************************************
 * Education Pathways Styling
****************************************/
.education {
  &__container {
    @include padding;

    text-align: center;
    background-color: $color-pink;
    font-size: $font-size-md;
    color: $color-red;

    > .container-fluid {
      @include padding-gutter();
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__svg-title {
    width: 100%;
    max-width: 750px;
    margin-bottom: 4rem;
  }

  &__content {
    margin-bottom: 4rem;
  }

  &__icon__container {
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url("../images/education-pathway-btn.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 auto 4rem auto;

    @include spin-logo-alt;

    animation-direction: reverse;
  }

  &__icon {
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-pink;
    margin: auto;

    @include spin-logo-alt;
  }
}

.pathway {
  &__row {
    > .col-12 {
      z-index: 1;
    }
  }

  &__container {
    min-height: 115px;
    position: relative;
    background-color: $color-red;
    border: 1px solid $color-red;
    border-radius: 0;
    font-family: $font-body;
    text-align: center;
    text-transform: capitalize;
    color: $color-white-alt;
    padding: 1rem 1rem;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 6px;
      top: 6px;
      border: solid 1px $color-red;
      z-index: -1;
    }

    .pathway__row-7 & {
      margin-bottom: 4rem;
    }

    &__red {
      &::before {
        border: solid 1px $color-red;
      }
    }

    &__pink {
      background-color: $color-pink;
      border: 1px solid $color-red;
      color: $color-red;

      &::before {
        background-color: $color-red;
        border-color: $color-red;
      }
    }

    &__offw {
      background-color: $color-white-alt;
      border: 1px solid $color-red;
      color: $color-red;

      &::before {
        background-color: $color-red;
        border-color: $color-red;
      }
    }
  }

  &__title,
  &__content {
    margin: auto;
  }

  &__title {
    font-weight: 400;
  }

  &__content {
    text-transform: lowercase;
  }

  &__arrow-down {
    position: absolute;
    height: 99%;
    height: calc(100% - 7px);
    left: 50%;
    left: calc(50% - 55px);
    bottom: -100%;
    bottom: calc(-100% + 2px);
    transform: translate(-50%, 0);

    .pathway__row-3 & {
      left: calc(50% + 55px);
    }
  }

  &__arrow-center-twoway {
    height: 150%;
    position: absolute;
    top: 75%;
    right: -30px;
  }

  &__arrow-center-left-twoway {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 25%;
    left: -89%;
    left: calc(-89% - 5px);
  }

  &__arrow-center-left-twoway-double {
    width: 60%;
    height: 300%;
    position: absolute;
    top: 73%;
    left: -60%;
    left: calc(-60% - 5px);
  }

  &__arrow-center-right-twoway {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    right: -100%;
    right: calc(-100% - 5px);
  }

  &__arrow-center-right-twoway-large {
    width: 150%;
    height: 275%;
    position: absolute;
    top: 25%;
    right: -38%;
    right: calc(-138% - 5px);
  }

  &__arrow-center-right-up {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 5%;
    right: -87%;
    right: calc(-87% - 5px);

    &-reverse {
      transform: scaleY(-1);
      top: 50%;
      right: calc(-87% - 6px);
    }
  }
}

.education-pathway-flow-chart {
  width: 100%;
  height: auto;
}

@include media-breakpoint-down(md) {
  .education__content {
    margin-bottom: 1rem;
  }
}
