.bordered-box {
  &__container {
    min-height: 170px;
    position: relative;
    background-color: $color-beige;
    color: $color-white;
    text-align: center;
    padding: 1rem;

    &.color__red {
      background-color: $color-red;
    }

    &.color__beige {
      background-color: $color-beige;
    }

    &.color__peach {
      background-color: $color-pink;
    }

    &.color__brown_dark {
      background-color: #542d21;
      color: $color-pink;
    }

    &.color__maroon {
      background-color: #6d1b26;
    }

    &.color__brown_light {
      background-color: #9a5033;
      color: $color-pink;
    }

    &.color__cream {
      background-color: #f2e8dc;
      color: #ff9e0c;
    }

    &.color__pink {
      background-color: #dc8f97;
    }

    &.color__orange {
      background-color: #ff9e0c;
    }

    .single-courses__container & {
      /* height: 100vh; */

      height: calc(100vh - 77px);
      position: sticky;
      top: 77px;
    }

    .archive-courses__container & {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;

      &:nth-of-type(4n + 1) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:hover {
        background-color: $color-blue-dark;
        color: $color-pink;
      }
    }
  }

  &__container-inner {
    height: 100%;
    border: solid 1px $color-white;
    font-size: $font-size-md;

    a.bordered-box__container:hover & {
      border-color: $color-pink;
    }
  }

  &__header {
    border-bottom: solid 1px $color-white;
    padding-top: 1rem;

    a.bordered-box__container:hover & {
      border-color: $color-pink;
    }

    .empty {
      min-height: 27px;
    }
  }

  &__body {
    margin-top: auto;
    margin-bottom: auto;

    p:last-of-type {
      margin-bottom: 0;
    }

    .archive__container & {
      padding: 8rem 15px 8rem 15px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .archive__container .bordered-box__body {
    padding: 4rem 15px;
  }
}

@include media-breakpoint-down(md) {
  .archive-courses__container .bordered-box__container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .archive-courses__testimonials-extra {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .single-courses__container .bordered-box__container {
    position: relative;
    top: 0;
  }
}
