.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: $color-blue-dark;
  color: $color-pink;

  a {
    color: $color-pink;

    &:hover,
    &:active {
      color: $color-red;
    }
  }

  &__logo {
    &-container {
      max-width: 150px;
      margin-right: auto;
    }
  }

  &__contact {
    text-align: right;

    p {
      margin-bottom: 2rem;
    }
  }

  .nav-secondary {
    margin-top: 3rem;
  }

  .nav-link {
    font-size: $font-size-sm;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-link-disable a {
    &:hover {
      color: $color-pink;
      cursor: text;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .footer__contact {
      text-align: center;

      p {
        margin-bottom: 1.5rem;
      }
    }

    .nav-secondary {
      margin-top: 1.5rem;
    }

    .nav {
      display: block;

      > .nav-item {
        text-align: center;
        margin-bottom: 0.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
