.banner {
  text-align: center;
  background-color: $color-blue-dark;
  z-index: 50;

  .logged-in & {
    top: 32px;
  }

  .library &,
  .study &,
  .post-type-archive-courses & {
    background-color: $color-pink;
  }

  &__site_name {
    position: relative;
    border-bottom: 1px solid $color-pink;
    margin-bottom: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .library &,
    .study &,
    .post-type-archive-courses & {
      border-color: $color-blue-dark;
    }
  }

  &__brand {
    font-size: $font-size-md;
    color: $color-pink;

    &:hover,
    &:active {
      color: $color-red;
    }

    .library &,
    .study &,
    .post-type-archive-courses & {
      color: $color-blue-dark;

      &:hover,
      &:active {
        color: $color-red;
      }
    }
  }

  &__navigation-toggle {
    color: $color-pink;
  }
}

.navbar-opener {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggler {
  width: 36px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 15px;
  padding: 0;
  z-index: 200;

  .logged-in & {
    top: 62px;
  }

  span,
  span::before,
  span::after {
    width: 30px;
    height: 1px;
    position: absolute;
    background-color: $color-pink;
  }

  span::before {
    transform: translateY(-9px);
    content: "";
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in, transform 0.3s;

    .library &,
    .study &,
    .post-type-archive-courses & {
      background-color: $color-blue-dark;
    }

    .nav-open & {
      background-color: $color-red;
      transform: rotate(-45deg);
    }
  }

  span::after {
    content: "";
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in, transform 0.3s;
    transform: translateY(9px);

    .library &,
    .study &,
    .post-type-archive-courses & {
      background-color: $color-blue-dark;
    }

    .nav-open & {
      background-color: $color-red;
      transform: rotate(45deg);
    }
  }

  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in;

    .library &,
    .study &,
    .post-type-archive-courses & {
      background-color: $color-blue-dark;
    }

    .nav-open & {
      background-color: transparent;
    }
  }

  &:hover span,
  &:hover span::before,
  &:hover span::after {
    background-color: $color-red;
  }

  &:hover span {
    .nav-open & {
      background-color: transparent;
    }
  }

  &:hover span::before,
  &:hover span::after {
    .nav-open & {
      background-color: $color-blue-dark;
    }
  }
}

.navigation {
  &__container {
    @include padding-gutter;

    width: 40%;
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $color-white-alt;
    text-align: left;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 100;
    transform: translateZ(0);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);

    .nav-open & {
      transform: translateX(0);
    }

    a {
      color: $color-red;
    }
  }

  &__contact > div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__link {
    font-size: $font-size-sm;
    margin-bottom: 1rem;
    transform: translateZ(0);
    animation-delay: 0.3s;

    &.navigation__link__home {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:hover {
      color: $color-blue-dark;
    }

    &:nth-of-type(2) {
      animation-delay: 0.4s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.5s;
    }

    &:nth-of-type(4) {
      animation-delay: 0.6s;
    }

    .nav-open & {
      animation: slide-in 0.4s 0.2s backwards;
    }
  }

  &__nav li {
    a {
      @extend .nav-link;

      position: relative;
      display: inline;
      font-size: 3.375rem;
      padding: 0;
      transform: translateZ(0);
      animation-delay: 0.3s;

      .nav-open & {
        animation: slide-in 0.4s 0.2s backwards;
      }

      &::after {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $color-red;
        transition: width 0.4s ease-in;
      }

      &:active,
      &:hover {
        &::after {
          width: 100%;
          transition: width 0.2s ease-in;
        }
      }
    }

    @extend .nav-item;

    &:nth-of-type(2) a {
      animation-delay: 0.4s;
    }

    &:nth-of-type(3) a {
      animation-delay: 0.5s;
    }

    &:nth-of-type(4) a {
      animation-delay: 0.6s;
    }
  }

  &__logo {
    &-container {
      max-width: 150px;
      margin-left: auto;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  &__container {
    background-color: $color-blue-dark;
    text-align: center;
    color: $color-pink;

    &.block__container {
      padding-top: 1.5rem;
      padding-bottom: 3rem;
    }
  }

  &__title {
    margin-bottom: 2rem;

    p {
      width: 100%;
      font-size: 6rem;
      line-height: 3rem;
      overflow: hidden;
      margin: auto 0;
    }

    &-container {
      margin-top: 1.5rem;
    }

    .letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  &__subtitle {
    font-family: $font-brand;
    font-size: 3.375rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    &-container {
      min-height: 100vh;
      min-height: calc(100vh - 104px);
      margin-bottom: 1.5rem;
    }
  }

  &__logo.spin-logo {
    width: 100%;
    height: 100%;
    max-width: 200px;
    padding: 0;
  }
}

.animate__logo {
  &-container {
    width: 275px;
    height: 275px;
    position: relative;
    margin: auto;
  }

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;

  &-ss {
    opacity: 0;

    .reveal & {
      opacity: 1;
      animation:
        spin 15s linear infinite,
        logo-reveal-ss 0.5s linear 0s 1 forwards;
    }
  }

  .reveal & {
    transform-origin: 50% 50%;

    &.animate__logo-1 {
      animation: logo-reveal-1 1s linear 0s 1 forwards;
    }

    &.animate__logo-2 {
      animation: logo-reveal-2 1s linear 2s 1 forwards;
    }

    &.animate__logo-3 {
      animation: logo-reveal-3 2s linear 4s 1 forwards;
    }

    &.animate__logo-4 {
      animation: logo-reveal-4 4s linear 4s 1 forwards;
    }

    &.animate__logo-5 {
      animation: logo-reveal-5 6s linear 4s 1 forwards;
    }
  }
}

@media (max-height: 550px) {
  .header__subtitle {
    margin-bottom: 3rem;
  }

  .header__title-container {
    margin-top: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .navigation__container {
    width: 50%;
  }

  .header {
    &__title p {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 2.625rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navigation__container {
    width: 60%;
  }

  .navigation__nav li a {
    font-size: 2.25rem;
  }
}

@include media-breakpoint-down(xs) {
  .navigation__container {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .banner__site_name {
    text-align: left;
    padding-right: 35px;
  }

  .header__title p {
    font-size: 2.25rem;
  }

  .header__subtitle {
    font-size: 1.875rem;
  }
}

@media (max-width: 300px) {
  .navigation__container {
    width: 95%;
    padding-top: 45px;
  }
}
