/****************************************
 * General Block Styling
****************************************/
.block {
  &__container {
    @include padding;

    position: relative;

    a {
      text-decoration: underline;

      &.btn {
        text-decoration: none;
      }
    }
  }
}

/****************************************
 * Content Area
****************************************/
.content {
  &__container {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }

  &__title {
    color: $color-blue-dark;

    span {
      display: block;
      margin-bottom: 1rem;
    }

    &-top {
      margin-left: 175px;
    }

    &-center {
      margin-right: auto;
    }

    &-bottom {
      margin-left: 175px;
    }
  }

  &__area {
    font-family: $font-body;
    font-size: $font-size-md;
  }
}

/****************************************
 * Flexible Area
 * Media & Content
****************************************/
.media-content {
  &__container {
    position: relative;
    overflow: hidden;
  }

  /****************************************
   * Layout: Background Image
  ****************************************/
  &__img_cover {
    &__container {
      color: $color-pink;
      padding: 0;

      &::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-orange;
        background-position: center center;
        background-repeat: center center;
        background-size: cover;
      }
    }

    &__title_container {
      @include padding;
      @include padding-gutter;
    }

    &__title {
      text-align: right;
      margin-bottom: 0;
    }

    &__content {
      @include padding;
      @include padding-gutter;

      background-color: $color-brown;
      font-family: $font-body;
      font-size: $font-size-md;
    }
  }

  /****************************************
   * Layout: Image Alignment Right
  ****************************************/
  &__img_mid {
    &__container {
      &::before {
        content: "";
        width: 75%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-white-alt;
      }

      padding-top: 5rem;
      padding-bottom: 4rem;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__content {
      font-size: $font-size-md;
    }

    &__img img {
      width: 100%;
      width: calc(100% + 60px);
      margin: auto -60px auto auto;
    }
  }

  /****************************************
   * Layout: Image Alignment Bottom
  ****************************************/
  &__img_align_bot {
    &__container {
      background-color: $color-pink;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__content-container {
      @include padding;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__img {
      overflow: hidden;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: auto auto 0 auto;
      }
    }

    &__content {
      font-size: $font-size-md;
    }
  }
}

/****************************************
 * Flexible Area
 * Library
****************************************/
.library__container {
  background-color: $color-pink;
  padding-top: 5rem;
  padding-bottom: 4rem;

  .cls-1 {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .section-title {
    font-weight: 400;
    text-transform: uppercase;
  }

  .library-svg {
    max-width: 100%;
  }
}

.library-section {
  &__title {
    font-size: $font-size-md;
    font-family: $font-body;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__container {
    margin-bottom: 3rem;
  }

  &__links {
    font-size: $font-size-md;
    margin-bottom: 1rem;
  }
}

/****************************************
 * Flexible Area
 * Button Links
****************************************/
.button-links {
  &__container {
    background-color: $color-white-alt;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  &__title {
    text-align: center;
    color: $color-red;
    margin-bottom: 3rem;
  }

  &__buttons {
    position: relative;
    z-index: 0;

    .btn {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

/****************************************
 * Flexible Area
 * Fixed Scroll
****************************************/
@media (min-height: 700px) and (min-width: 992px) {
  .responsive-faculty__container {
    display: none;
  }

  .fixed-scroller {
    &__container {
      z-index: 10;

      @include make-container();
    }

    &__container__inner {
      @include make-row();

      position: relative;
      height: 100%;
    }

    &__img-container .fixed-column__img {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__content-container {
      width: 100%;
      height: 100%;
      text-align: center;

      &:nth-of-type(even) {
        background-color: $color-pink;
        color: $color-blue-dark;
      }

      &:nth-of-type(odd) {
        background-color: $color-blue-dark;
        color: $color-pink;
      }
    }

    &__panel {
      width: 100%;
      height: 100%;
      position: absolute;

      &__container {
        width: 33.33333%;
        height: 100vh;
        height: calc(100vh - 80px);
        position: relative;
        padding-right: 0;
        padding-left: 0;
        z-index: 1;
      }
    }

    &__content {
      min-height: 100%;
      padding: 2rem 15px;
    }

    &__name {
      font-size: 6.25rem;
      line-height: 1;
      margin-bottom: 2rem;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .scrollmagic-pin-spacer {
    @include make-col-ready();
    @include make-col(4);

    width: 33.33333%;
    padding-right: 0;
    padding-left: 0;
  }
}

@include media-breakpoint-up(lg) {
  .media-content__img_align_bot__img img {
    min-height: 100%;
  }
}

@include media-breakpoint-down(lg) {
  .content__title {
    margin-bottom: 0.5rem;

    span {
      margin-bottom: 0.5rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .content {
    &__title {
      margin-bottom: 1rem;

      span {
        margin-bottom: 0;
      }
    }

    &__container {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
  }

  .media-content__img_mid__container {
    padding-top: 3rem;
    padding-bottom: 2rem;

    &::before {
      height: 100%;
    }
  }

  .media-content__img_cover {
    &__title_container,
    &__content {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__container::before {
      width: 100%;
    }
  }

  .media-content__img_mid__img img {
    width: calc(100% + 30px);
    margin: auto -30px auto auto;
  }

  .media-content__img_align_bot__img {
    order: 12;
  }

  .media-content__img_align_bot__content-container {
    order: 1;
  }

  .button-links__container {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .button-links__title {
    margin-bottom: 1.5rem;
  }

  .library-section__container {
    margin-bottom: 1.5rem;
  }

  .library__container {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

@media (max-height: 699px), (max-width: 991.98px) {
  .fixed-scroller__container {
    display: none;
  }

  .responsive-faculty {
    &__container {
      background-color: $color-pink;
      color: $color-blue-dark;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      &__inner {
        overflow: hidden;
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__content {
      height: 100%;
      padding: 15px;
    }

    &__row-order {
      /*
      &:nth-of-type(odd) {
        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &:nth-of-type(even) {
        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }
      */

      &-1 {
        order: 1;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-2 {
        order: 2;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }

      &-3 {
        order: 3;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-4 {
        order: 4;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }

      &-5 {
        order: 5;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-6 {
        order: 6;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }

      &-7 {
        order: 7;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-8 {
        order: 8;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }

      &-9 {
        order: 9;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-10 {
        order: 10;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }

      &-11 {
        order: 11;

        .responsive-faculty__content {
          background-color: $color-pink;
          color: $color-blue-dark;
        }
      }

      &-12 {
        order: 12;

        .responsive-faculty__content {
          background-color: $color-blue-dark;
          color: $color-pink;
        }
      }
    }

    &__img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /*
  .fixed-scroller {
    &__container__inner {
      @include make-container();
    }

    &__panel {
      @include make-col-ready();
      @include make-col(6);

      transform: unset !important;
      padding: 0;

      &__container {
        @include make-row();
      }
    }

    &__content-container {
      padding: 15px;

      &:nth-of-type(4n + 2) {
        background-color: $color-pink;
        color: $color-blue-dark;
      }

      &:nth-of-type(4n + 4) {
        background-color: $color-blue-dark;
        color: $color-pink;
      }
    }
  }

  .fixed-column__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  */
}

@media (max-height: 699px), (min-width: 767px) {
  .responsive-faculty__img {
    /*
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 496px;
    */
  }
}

@include media-breakpoint-down(sm) {
  .content__container,
  .media-content__container,
  .button-links__container {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .media-content__img_align_bot__container {
    padding-bottom: 0;
  }

  .content__title,
  .media-content__img_cover__title {
    text-align: center;

    &-top {
      margin: 0 auto;
    }

    &-center {
      margin: 0 auto;
    }

    &-bottom {
      margin: 0 auto;
    }

    span {
      display: inline;
    }
  }

  .media-content__container::before {
    width: 100%;
  }

  .media-content__img_mid__img img {
    width: 100%;
    margin: 1rem auto auto auto;
  }

  .media-content__img_cover__container {
    &::before {
      background-image: initial !important;
      background-color: $color-brown;
    }
  }

  .media-content__img_cover__title,
  .media-content__title {
    text-align: center;
  }
}

@include media-breakpoint-down(xs) {
  .media-content__img_cover {
    &__title_container {
      padding-bottom: 0;
    }

    &__content {
      padding-bottom: 1rem;
    }
  }

  .media-content__img_align_bot__img img {
    max-height: 350px;
  }

  .button-links__buttons {
    text-align: center;

    .btn {
      display: block;
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .fixed-scroller__panel {
    @include make-col(12);
  }

  .fixed-column__img {
    padding-top: 85%;
  }

  .library-section__links {
    margin-bottom: 0;
    padding-left: 16px;
  }
}

@media (max-width: 400px) {
  .header__subtitle-container {
    overflow: hidden;
  }

  .animate__logo-container {
    width: 100%;
  }

  .header__logo.spin-logo {
    max-width: 65%;
  }
}
