.course__info {
  &-container {
    background-color: #eee;
  }

  &-box {
    @include padding-gutter;
    @include padding;
  }

  &-image {
    padding: 0;
  }

  &-featured-img {
    height: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-content {
    background-color: #eee;

    a {
      text-decoration: underline;
    }
  }

  &-buttons {
    .btn {
      background-color: #eee;
      text-decoration: none;
      margin-bottom: 0;
      padding: 1rem 1.5rem;

      &:hover {
        background-color: $color-red;
        color: #eee;

        &::before {
          background-color: #eee;
        }
      }
    }
  }

  &-testimonials {
    background-color: $color-maroon;
  }
}

.location {
  &__row {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__link {
    @include padding;

    display: block;
    color: $color-red;
  }

  &__container {
    background-color: $color-pink;
    text-align: center;
    color: $color-red;
    transition: all 0.5s linear;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;

    &.location__hidden {
      width: 0%;
      flex: 0 0 0%;
      opacity: 0;
      transition:
        opacity 0.5s linear,
        width 1.5s 0.5s linear,
        flex 1.5s 0.5s linear;
    }

    &.location__active {
      width: 100%;
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      transition: all 0.5s 0.5s linear;
    }

    &__pink {
      background-color: $color-pink;

      .location__link {
        color: $color-red;
      }
    }

    &__dark_pink {
      background-color: $color-pink-dark;

      .location__link {
        color: $color-blue-dark;
      }
    }

    &__red {
      background-color: $color-red;

      .location__link {
        color: $color-white-alt;
      }
    }

    &__off_white {
      background-color: $color-white-alt;

      .location__link {
        color: $color-blue-dark;
      }
    }

    &__orange {
      background-color: $color-orange;

      .location__link {
        color: $color-white;
      }
    }

    &__maroon {
      background-color: $color-maroon;

      .location__link {
        color: $color-beige;
      }
    }

    &__brown {
      background-color: $color-brown;

      .location__link {
        color: $color-pink;
      }
    }

    &__blue {
      background-color: $color-blue-dark;

      .location__link {
        color: $color-pink;
      }
    }
  }

  &__content {
    font-family: $font-body;
    font-size: 2.25rem;
    text-transform: uppercase;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    transition: all 0.5s linear;

    .location__active & {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      transition: all 0.5s 0.5s linear;
    }
  }

  &__icon img {
    max-width: 400px;
    max-height: 400px;
  }

  &__title,
  &__year {
    font-size: 1.5rem;
    font-family: $font-body;
  }

  &__title,
  &__icon {
    margin-bottom: 3rem;
  }
}

.course-details {
  &__container {
    width: 0%;
    max-width: 0%;
    height: 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    opacity: 0;
    transition:
      opacity 0.5s linear,
      width 0.5s 0.5s linear,
      height 0.5s 0.5s linear,
      padding 2s 0.5s linear;

    @include padding;

    p {
      margin-bottom: 0;
    }

    .location__active & {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
      height: 100%;

      /* display: block; */
      opacity: 1;
      transition:
        width 1s 0.5s linear,
        max-width 1s 0.5s linear,
        -ms-flex 1s 0.5s linear,
        flex 1s 0.5s linear,
        height 1.5s 0.5s linear,
        opacity 2s 0.5s linear,
        padding 2s 0.5s linear;
    }
  }

  &__table {
    display: none;
    opacity: 0;
    border-right: solid 1px $color-red;
    border-left: solid 1px $color-red;
    font-weight: 400;
    margin: 0 15px 1rem 15px;
    padding-right: 30px;
    padding-left: 30px;

    .location__container__pink & {
      border-color: $color-red;
      color: $color-red;
    }

    .location__container__dark_pink & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__red & {
      border-color: $color-white-alt;
      color: $color-white-alt;
    }

    .location__container__off_white & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__orange & {
      border-color: $color-white;
      color: $color-white;
    }

    .location__container__maroon & {
      border-color: $color-beige;
      color: $color-beige;
    }

    .location__container__brown & {
      border-color: $color-pink;
      color: $color-pink;
    }

    .location__container__blue & {
      border-color: $color-pink;
      color: $color-pink;
    }

    .location__active & {
      opacity: 1;
      transition: opacity 2.1s 0.5s linear;
    }
  }
}

.table {
  &__header {
    font-size: 2rem;
    border-top: solid 1px $color-red;
    border-bottom: solid 1px $color-red;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .location__container__pink & {
      border-color: $color-red;
      color: $color-red;
    }

    .location__container__dark_pink & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__red & {
      border-color: $color-white-alt;
      color: $color-white-alt;
    }

    .location__container__off_white & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__orange & {
      border-color: $color-white;
      color: $color-white;
    }

    .location__container__maroon & {
      border-color: $color-beige;
      color: $color-beige;
    }

    .location__container__brown & {
      border-color: $color-pink;
      color: $color-pink;
    }

    .location__container__blue & {
      border-color: $color-pink;
      color: $color-pink;
    }
  }

  &__body {
    /* @include make-row(); */
  }

  &__col {
    @include make-col-ready();
  }

  &__hr {
    background-color: $color-red;
    width: 10px;
    height: 1px;

    .location__container__pink & {
      background-color: $color-red;
    }

    .location__container__dark_pink & {
      background-color: $color-blue-dark;
    }

    .location__container__red & {
      background-color: $color-white-alt;
    }

    .location__container__off_white & {
      background-color: $color-blue-dark;
    }

    .location__container__orange & {
      background-color: $color-white;
    }

    .location__container__maroon & {
      background-color: $color-beige;
    }

    .location__container__brown & {
      background-color: $color-pink;
    }

    .location__container__blue & {
      background-color: $color-pink;
    }
  }
}

.module,
.fee {
  &__title {
    text-transform: uppercase;
  }
}

.module {
  &__type {
    text-transform: uppercase;

    span {
      display: block;
      font-size: 3rem;
      font-weight: 100;
      line-height: 1;
      border-bottom: 2px solid $color-red;
      margin-bottom: 10px;
      padding-bottom: 10px;

      .location__container__pink & {
        border-color: $color-red;
        color: $color-red;
      }

      .location__container__dark_pink & {
        border-color: $color-blue-dark;
        color: $color-blue-dark;
      }

      .location__container__red & {
        border-color: $color-white-alt;
        color: $color-white-alt;
      }

      .location__container__off_white & {
        border-color: $color-blue-dark;
        color: $color-blue-dark;
      }

      .location__container__orange & {
        border-color: $color-white;
        color: $color-white;
      }

      .location__container__maroon & {
        border-color: $color-beige;
        color: $color-beige;
      }

      .location__container__brown & {
        border-color: $color-pink;
        color: $color-pink;
      }

      .location__container__blue & {
        border-color: $color-pink;
        color: $color-pink;
      }
    }
  }

  &__date {
    .course-details__container & {
      margin-bottom: 1rem;
    }
  }

  &__title {
    .course-details__container & {
      margin-bottom: auto;
    }
  }
}

.fees {
  &__row {
    border-bottom: 1px solid $color-red;
    padding-bottom: 1rem;

    .location__container__pink & {
      border-color: $color-red;
      color: $color-red;
    }

    .location__container__dark_pink & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__red & {
      border-color: $color-white-alt;
      color: $color-white-alt;
    }

    .location__container__off_white & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__orange & {
      border-color: $color-white;
      color: $color-white;
    }

    .location__container__maroon & {
      border-color: $color-beige;
      color: $color-beige;
    }

    .location__container__brown & {
      border-color: $color-pink;
      color: $color-pink;
    }

    .location__container__blue & {
      border-color: $color-pink;
      color: $color-pink;
    }
  }

  &__type {
    border-bottom: 1px solid $color-red;
    text-transform: uppercase;
    padding-bottom: 1rem;

    .course-details__container & {
      margin-bottom: 1rem;
    }

    .location__container__pink & {
      border-color: $color-red;
      color: $color-red;
    }

    .location__container__dark_pink & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__red & {
      border-color: $color-white-alt;
      color: $color-white-alt;
    }

    .location__container__off_white & {
      border-color: $color-blue-dark;
      color: $color-blue-dark;
    }

    .location__container__orange & {
      border-color: $color-white;
      color: $color-white;
    }

    .location__container__maroon & {
      border-color: $color-beige;
      color: $color-beige;
    }

    .location__container__brown & {
      border-color: $color-pink;
      color: $color-pink;
    }

    .location__container__blue & {
      border-color: $color-pink;
      color: $color-pink;
    }
  }
}

@include media-breakpoint-up(xl) {
  .course__info-buttons .btn {
    padding: 1rem 4.5rem;
  }
}

@include media-breakpoint-down(md) {
  .location__row {
    flex-wrap: wrap;
  }

  .course-details {
    &__table {
      display: block;
      opacity: 1;
    }

    &__container {
      width: 100%;
      max-width: 100%;
      height: auto;
      flex: 0 0 100%;
      opacity: 1;
      transition: unset;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  .location__link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .location__active {
    .location__content,
    .course-details__container {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }
  }

  .location__title,
  .location__icon {
    margin-bottom: 1.5rem;
  }

  .location__year {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(xs) {
  .course__info-buttons .btn {
    display: block;
    margin-bottom: 1.5rem;
  }

  .location__link {
    padding-right: 15px;
    padding-left: 15px;
  }
}
