@font-face {
  font-family: "Chap";
  src:
    url("../fonts/Chap-Medium.eot?") format("eot"),
    url("../fonts/Chap-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chap";
  src:
    url("../fonts/Chap-Light.eot?") format("eot"),
    url("../fonts/Chap-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Chap";
  src:
    url("../fonts/Chap-Light-Italic.eot?") format("eot"),
    url("../fonts/Chap-Light-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Saol Display";
  src:
    url("../fonts/Saol-Display-Regular.eot?") format("eot"),
    url("../fonts/Saol-Display-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
