body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body;
  font-weight: 100;
  color: $color-blue-dark;

  @media (max-width: 300px) {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

/****************************************
 * Formatting Styling
****************************************/
strong {
  font-weight: 400;
}

/****************************************
 * Global Styling
****************************************/
h1,
h2,
h3,
h4,
h5,
h6,
.header__title p {
  font-family: $font-brand;
  font-variant-ligatures: no-common-ligatures;
}

a {
  color: $color-primary;
  transition: all 0.3s ease-in;

  &:hover {
    color: $color-tertiary;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
}

.content > .main {
  padding: 0;
}

.logged-in .banner.fixed-top {
  top: 32px;
}

/* Padding to prevent content going behind the header */
.wrap {
  // padding-top: 77px;

  .home & {
    // padding-top: 0;
  }
}

.alert-warning {
  font-size: 1.5rem;
  background-color: $color-pink;
  border-color: $color-pink;
  color: $color-blue-dark;
}

/****************************************
 * Page Load Fader Styling
****************************************/
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background-color: $color-blue-dark;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

/****************************************
 * Spin Logo Styling
****************************************/
.spin-logo {
  &-container {
    max-height: 150px;
    background-image: url("../images/logos/logo-red-ss-double.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.footer__logo-container {
      background-image: url("../images/logos/logo-pink-ss-double.svg");
    }
  }

  @include spin-logo;

  width: auto;
  max-width: 100%;
  padding: 15%;
}

/****************************************
 * Background Color Styling
****************************************/
.background {
  &__pink {
    background-color: $color-pink;

    a {
      color: $color-red;
    }
  }

  &__red {
    background-color: $color-red;

    a {
      color: $color-orange;
    }
  }

  &__beige {
    background-color: $color-white-alt;

    a {
      color: $color-red;
    }
  }

  &__blue {
    background-color: $color-blue-dark;
    color: $color-pink;

    .content__title {
      color: $color-pink;
    }

    a {
      color: $color-pink;

      &:active,
      &:hover {
        color: $color-red;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  h1,
  .h1 {
    font-size: 3.375rem;
  }
}
