.rc-container-fluid {
  @include padding-gutter;

  width: 100%;
  max-width: 1520px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    /* padding-right: 15px; */

    /* padding-left: 15px; */
  }
}

@include media-breakpoint-up(lg) {
  .row-one-col {
    > div {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  .row-two-col {
    > div {
      &:first-of-type {
        padding-right: 30px;
      }

      &:last-of-type {
        padding-left: 30px;
      }
    }
  }
}
