@mixin padding {
  padding-top: ($section-padding-top-y/2);
  padding-bottom: ($section-padding-bottom-y /2);

  @media (min-width: 768px) {
    padding-top: $section-padding-top-y;
    padding-bottom: ($section-padding-bottom-y);
  }
}

@mixin padding-top {
  padding-top: ($section-padding-top-y/2);
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding-top: $section-padding-top-y;
  }
}

@mixin padding-bottom {
  padding-top: 0;
  padding-bottom: ($section-padding-bottom-y/2);

  @media (min-width: 768px) {
    padding-bottom: $section-padding-bottom-y;
  }
}

@mixin padding-gutter {
  @media (min-width: 992px) {
    padding-right: $grid-gutter-padding;
    padding-left: $grid-gutter-padding;
  }

  @media (min-width: 575px) and (max-width: 991px) {
    padding-right: ($grid-gutter-padding / 2);
    padding-left: ($grid-gutter-padding / 2);
  }

  padding-right: ($grid-gutter-padding / 4);
  padding-left: ($grid-gutter-padding / 4);
}

@mixin button-top-margin {
  @media (min-width: 768px) {
    margin-top: $margin-spacer;
  }
}

@mixin spin-logo {
  -webkit-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@mixin spin-logo-alt {
  -webkit-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
