/** import bootstrap functions */
@import "~bootstrap/scss/functions";

/****************************************
 * Branding colors
****************************************/
$theme-colors: (
  primary: #153232,
  secondary: #f7b9a9,
  tertiary: #ff4106
);

$color-white: 		#fff;
$color-white-alt: #f2e8dc;

$color-blue-dark: #153232;
$color-pink: 			#f7b9a9;
$color-pink-dark: #dc8f97;
$color-red: 			#ff4106;
$color-orange: 		#ff9e0c;
$color-maroon: 		#6e1a24;
$color-brown: 		#9a5033;
$color-beige: 		#e7bd9c;

$color-primary: $color-blue-dark;
$color-secondary: $color-pink;
$color-tertiary: $color-red;

/****************************************
 * Typography fonts
****************************************/
$font-brand: "Saol Display";
$font-body: "Chap";

$h1-font-size: 4.375rem !default;
$h2-font-size: 3.75rem !default;
$h3-font-size: 3rem !default;
$h4-font-size: 1.75rem !default;

/****************************************
 * Links & Buttons
****************************************/
$link:							$color-red;
$link-focus: 				lighten($link, 10%);
$link-color: 				$color-red;
$link-hover-color:  lighten($link-color, 15%);

/* Buttons */
$border-radius: 0 !default;
$btn-border-radius: 0 !default;

/****************************************
 * Custom
****************************************/
$font-size-lg: 									 1.25rem;
$font-size-md: 									 1.125rem;
$font-size-sm: 									 0.875rem;
$section-padding-y: 						 3rem;
$section-padding-top-y: 				 3rem;
$section-padding-bottom-y: 			 2rem;
$grid-gutter-padding: 			 		 60px;
$margin-spacer: 						 		 3rem;

/** bootstrap navbar fix (https://git.io/fadqw) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
