/****************************************
 * Global
****************************************/
.gform_wrapper .gform_footer .gform_button.button {
  position: relative;
  background-color: $color-pink;
  border: 1px solid $color-pink;
  border-radius: 0;
  font-family: $font-body;
  font-size: $font-size-md;
  text-transform: capitalize;
  color: $color-blue-dark;
  transition: all 0.3s ease-in;
  padding: 0.5rem;

  &:hover {
    background-color: transparent;
    color: $color-pink;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
}

.btn {
  position: relative;
  background-color: $color-red;
  border: 1px solid $color-red;
  border-radius: 0;
  font-family: $font-body;
  text-transform: capitalize;
  text-decoration: none;
  color: $color-white-alt;
  transition: all 0.3s ease-in;
  padding: 1rem 4.5rem;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: $color-white-alt;
    border: solid 1px $color-red;
    z-index: -1;
  }

  &:hover {
    background-color: $color-white-alt;
    border: 1px solid $color-red;
    color: $color-red;
    text-decoration: none;
    transition: all 0.3s ease-in;

    &::before {
      background-color: $color-red;
      border-color: $color-red;
      transition: all 0.3s ease-in;
    }
  }

  &__red {
    &::before {
      background-color: $color-white-alt;
      border: solid 1px $color-red;
    }

    &:hover {
      background-color: $color-white-alt;
      border: 1px solid $color-red;
      color: $color-red;

      &::before {
        background-color: $color-red;
        border-color: $color-red;
      }
    }
  }

  &__offw {
    background-color: $color-white-alt;
    border: 1px solid $color-red;
    color: $color-red;

    &::before {
      background-color: $color-red;
      border-color: $color-red;
    }

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
      color: $color-white-alt;

      &::before {
        background-color: $color-white-alt;
        border: solid 1px $color-red;
      }
    }
  }
}
