/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/** Gravity Forms */
.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper li {
  @extend .form-group;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input,
.gform_wrapper select,
.gform_wrapper textarea,
.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"] {
  @extend .form-control;

  &::-webkit-input-placeholder {
    color: $color-pink;
  }

  &::-ms-input-placeholder {
    color: $color-pink;
  }

  &::-moz-placeholder {
    color: $color-pink;
  }

  &:-moz-placeholder {
    color: $color-pink;
  }

  &:-ms-input-placeholder {
    color: $color-pink;
  }

  &:placeholder-shown {
    color: $color-pink;
  }

  &::placeholder {
    color: $color-pink;
  }
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-primary;
}

.modal {
  .gfield_label,
  .name_first label {
    display: none;
  }
}

.gform_wrapper .gfield_error {
  .gfield_label {
    @extend .alert-danger;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;

  width: 100%;
  text-align: center;
}

.validation_message {
  display: none;
}

.content-info .gform_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .gform_body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .gform_footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    .gform_button {
      width: 100%;
      height: 41px;
      display: block;
      margin: 0;
    }
  }

  .gform_fields {
    margin-bottom: 0;

    .gfield {
      margin-bottom: 0;

      input {
        font-size: 1rem;
        height: 41px;
        background-color: $color-blue-dark;
        border: solid 1px $color-pink;
        color: $color-pink;
        padding: 0.5625rem;
      }
    }

    &#gform_fields_2 .gfield input {
      border-right: 0;
    }
  }

  .gfield_label {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .content-info .gform_wrapper form .gform_fields#gform_fields_2 .gfield input {
    padding-top: 7px;
    padding-bottom: 8px;
  }
}
