@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes logo-reveal-ss {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo-reveal-1 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  75% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo-reveal-2 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  75% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo-reveal-3 {
  0% {
    opacity: 1;
  }

  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}

@keyframes logo-reveal-4 {
  0% {
    opacity: 1;
  }

  100% {
    transform: rotate(90deg);
    opacity: 1;
  }
}

@keyframes logo-reveal-5 {
  0% {
    opacity: 1;
  }

  100% {
    transform: rotate(135deg);
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

