.slick-dots {
  display: flex !important;
  justify-content: center;
  list-style-type: none;
  margin: 0;

  li {
    margin: 0 0.25rem;
  }

  button {
    width: 1rem;
    height: 1rem;
    display: block;
    background-color: $color-maroon;
    border: 1px solid $color-pink;
    border-radius: 100%;
    text-indent: -9999px;
    transition: 0.3s background-color ease-in;
    padding: 0;
  }

  .slick-active button {
    background-color: $color-pink;
    transition: 0.3s background-color ease-in;
  }
}
