/****************************************
 * Testimonials Slider Styling
****************************************/
.archive-courses__testimonials {
  background-color: $color-white-alt;
  padding: 6rem 120px 5rem 120px;

  &-container .row {
    margin-right: 0;
    margin-left: 0;
  }

  .testimonials__slide p {
    font-size: 1.875rem;
    color: $color-red;
    position: relative;
  }

  button {
    background-color: $color-white-alt;
    border: 1px solid $color-red;
  }

  .slick-active button {
    background-color: $color-red;
    transition: 0.3s background-color ease-in;
  }

  &-extra {
    @include padding;
    @include padding-gutter;

    background-color: $color-red;

    img {
      max-width: 150px;
    }
  }
}

.testimonials__slider-container {
  position: relative;
  font-family: $font-brand;
  font-size: 1.875rem;
  text-align: center;
  color: $color-pink;

  &.course__info-testimonials {
    color: $color-pink;

    .testimonials__slide {
      position: relative;

      p {
        position: relative;
      }

      .testimonials__speech {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: top;

        &.speech__open {
          margin-right: 5px;
        }

        &.speech__closed {
          margin-left: 5px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .archive-courses__testimonials {
    padding: 3rem 60px 2rem 60px;
  }
}

@include media-breakpoint-down(xs) {
  .archive-courses__testimonials {
    padding: 1rem 15px;

    .testimonials__slide p {
      margin-top: 0;
    }
  }

  .slick-dots {
    margin-top: 1rem;
  }
}
